NODE_ENV=production
JWT_SECRET=change_me
CLIENT_URL=http://localhost
FRONTEND_URL=http://localhost

MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/pingup
POST_MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/pingup-post
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

PORT=3000